#inputbox{
	float:right;
}
#controls{
	height: 650px;
	overflow:auto;
	margin-top:20px;
}
.container{
	margin-left:50px;
}
.selectiondiv{
	width:50%;
	float: left;
	display: inline;
	font:"Times New Roman", Times, serif;
	font-size:12px;
	font-weight:lighter !important;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#main{
	margin-right: 2%;
}
